<%= link_to 'Back', pins_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">

        

        <% if !@pin.image.blank? %>
          <%= image_tag @pin.image.url(:medium) %>
        <% elsif !@pin.video.blank? %>
          <video width="320" height="240" controls>
            <source src="<%= @pin.video.url %>">
          </video>
        <% end %>
        
      </div>
      <div class="panel-body">
        <p><%= @pin.description %></p>
        <p><strong><%= @pin.user.email if @pin.user %></strong></p>

        <% if @pin.user == current_user %>
          <%= link_to edit_pin_path(@pin) do %>
          	<span class="glyphicon glyphicon-edit"></span>
          	Edit
        	<% end %>
          <%= link_to raw('<span class="glyphicon glyphicon-plus"></span> New pin'), new_pin_path %>
        <% end %>

      </div>
    </div>
  </div>
</div>